bin
data
logs
log
.idea
.vscode
vendor
tool/tool
.DS_Store

# local test artifacts
backups/
research/
nohup.out
*.bak
ctl-engine-info-log/
/go-ycsb

# percentile output format
*.txt

# hdr-plot output format
*.png
